{% extends "index.html" %}
{%block bodyblock%}
{% load staticfiles %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6" id='ten'>
			<div class="row">


				<div class="col-md-12">
					<div class="card" id='eleven'>
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="{% static "logos/MTN-logo.jpg" %}">
						<div class="card-block">
							<h3>Prices</h3>
                <ul>
                  <form method="GET">
                  <li><input type=submit class="btn btn-default"  name="0" value="100 Naira"></input> </li>
                  <li><input type=submit class="btn btn-default"  name="1" value="200 Naira"></input> </li>
                  <li><input type=submit class="btn btn-default"  name="2" value="500 Naira"></input> </li>
                  <li><input type=submit class="btn btn-default"  name="3" value="1000 Naira"></input> </li>
								</form>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6" id='nine'>
			<div class="row">
				<div class="col-md-12">
					<div class="card" id='eleven'>
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="{% static "logos/glo-logo.jpg" %}">
						<div class="card-block">
							<h3>Prices</h3>
							<ul>
                  <form method="GET">
                  <li><input type=submit class="btn btn-default" name="4" value="100 Naira"></input> </li>
                  <li><input type=submit class="btn btn-default" name="5" value="200 Naira"></input> </li>
                  <li><input type=submit class="btn btn-default" name="6" value="500 Naira"></input> </li>
                  <li><input type=submit class="btn btn-default" name="7" value="1000 Naira"></input> </li>
                  </form>
                </ul>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" id='ten'>
			<div class="row">
				<div class="col-md-12">
					<div class="card" id='eleven'>
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="{% static "logos/9Mobile-Telecom-Logo.jpg" %}">
						<div class="card-block">
							<h3>Prices</h3>
            		<ul>
                    <form method="GET">
                    <li><input type=submit class="btn btn-default" name="8" value="100 Naira"></input> </li>
                    <li><input type=submit class="btn btn-default" name="9" value="200 Naira"></input> </li>
                    <li><input type=submit class="btn btn-default" name="10" value="500 Naira"></input> </li>
                    <li><input type=submit class="btn btn-default" name="11" value="1000 Naira"></input> </li>
                    </form>
                </ul>
						</div>
					</div>
				</div>


			</div>
		</div>
		<div class="col-md-6">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6" id='nine'>
			<div class="row">
				<div class="col-md-12">
					<div class="card" id='eleven'>
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="{% static "logos/airtel-logo-red-text-horizontal.jpg" %}">
						<div class="card-block">
									<h3>Prices</h3>
									<ul>
      						<form method="GET">
                  <li><input type=submit class="btn btn-default" name="12" value="100 Naira"></input> </li>
                  <li><input type=submit class="btn btn-default" name="13" value="200 Naira"></input> </li>
                  <li><input type=submit class="btn btn-default" name="14" value="500 Naira"></input> </li>
                  <li><input type=submit class="btn btn-default" name="15" value="1000 Naira"></input> </li>
                  </form>
                </ul>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
{% endblock %}
